.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    gap: 100px;
    
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

@media (max-width : 400px){
    .main{
        flex-direction: column;
    }
    .navbar{
         flex-direction: column;
    }
}