<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header style="display: flex; align-items: center; justify-content: space-between;">
        <div><h2>Comapany name</h4></div>
        <nav style="display: flex; gap: 34px;">
           <a href="/home"  style="text-decoration: none;">Home</a>
           <a href="/contact" style="text-decoration: none;">Contact</a>
           <a href="/about" style="text-decoration: none;">About</a>
           <a href="/career" style="text-decoration: none;" >Career</a>
        </nav>
    </header>
    <hr>
   <main>
    <article>
        <h2>Article tilte</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti fugiat facilis omnis ad placeat repellendus perferendis quod similique harum aspernatur accusantium laboriosam non, eos corporis eius! Sequi obcaecati, maxime qui eaque labore molestiae ipsum repellendus illum, atque quo aliquam tempore tenetur placeat optio quam officiis et. Quaerat a, tempore placeat delectus veritatis architecto voluptate possimus magnam! Quae fugiat dicta distinctio beatae. Eius nesciunt consequatur ratione rem ducimus.</p>
    </article>
   </main>
   <hr>
   <aside>
    <h3>sidebar</h3>
    <p>contain supplymenty information</p>
    <ul>
        <li>Link 1</li>
        <li>Link 2</li>
        <li>Link 3</li>
    </ul>
   </aside>
   <footer>
    <hr>
    <address>
            Contact us at: <a href="mailto:info@example.com">info@xyz.com</a>
        </address>
   </footer>
</body>
</html>