.main{
    width: 100%;
    height: 500px;
    background-color: blueviolet;
    
}

@media screen and (max-width:300px){
    .main{
        background-color: aqua;
    }
}
@media (min-width:300px) and (max-width:700px){
    .main{
        background-color: bisque;
    }
}